<a href="https://colab.research.google.com/github/aashishmittal340/Python-/blob/master/starting_journey_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###My_first_conversational_calculator

In [ ]:
print("what is your name, operator")
sur_name = "Mr " 
name = input()
full_name =  sur_name +name
print("type any number ",full_name)
num1 = input()
print("type one more number that you would like to add up")
num2 = input()
sum = int(num1) + int(num2)
print("the sum is", sum, sur_name)
print("Bye-bye....! ",full_name)

what is your name, operator
Aashish mittal
type any number  Mr Aashish mittal
56
type one more number that you would like to add up
465
the sum is 521 Mr
Bye-bye....!  Mr Aashish mittal