<a href="https://colab.research.google.com/github/aashishmittal340/Python-/blob/master/Tutorial_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####How to write the statement

In [ ]:
print("hello world")

hello world

####One and multiline comments

In [ ]:
#this hastag sign use to tell PYTHON to ignore the pirticular line

In [ ]:
"""
we 
use 
triple 
quote 
to 
ignore
multiline
comments
"""
print('have you cleare, what is single line comment and multiline comment')

have you cleare, what is single line comment and multiline comment

####escape_sequence_character

In [ ]:
# if I run this code, so these both statements comes in a new line; as I look as its output
print("hello")
print("world")

hello
world

In [ ]:
# But if I want printing out both statement in single line whether both statement's code written in saperate line so we use for it (end=""), that is new line caracter
print("hello",end=",")
print(" world")

hello, world

In [ ]:
#If I want to divide the string caracteres in two lines so we use for it "\n"
print("hello \nworld")

hello
world

In [ ]:
#but in case,-this is an example
print("which bike do you like old\new")
#it shows an abnormel out put that is,

which bike do you like old
ew

In [ ]:
#this is because python does not understand in grammer manner, it only and only do work with its own rules
#above cell showes error because it does not understand what's the meaning of string but it understand it own escape sequence caracters that was "\n"

In [ ]:
#Now, if I want get that output that I did really want. So now I use a special caracter that is \\n
print("which car do you like old\\new")

which car do you like old\new

In [ ]:
# if I want to use single quote between the string again\
print("hello"world")
#It shows an error

In [ ]:
#again we an escape sequence caracter this "\n'"
print("hello\"world")

hello"world

In [ ]:
#We use "\t" for giving tab in the string 
print("hello\thello\tworld")

hello	hello	world

######Some_more_sequence_characters_by_internet

In [ ]:
print("hello \\world")

hello \world

In [ ]:
print('hello \'world')

hello 'world

In [ ]:
print("hello \"world")

hello "world

In [ ]:
print("hello \aworld")

hello world

In [ ]:
#This character remove the just before character of backslash(\)
print("hello \bworld")
print("bye-\bye")

hello world
bye-ye

In [ ]:
print("hello \nworld")

hello
world

####Variables_Datatypes_and_Typecasting

######Variables

In [ ]:
#Variables are the characters in which we stored the numbers or string for eg. 
a=45
b=45
c=a+b
#'a' and 'b' are variables

######Datatypes

In [ ]:
a="hello world"
b=456
c=69.5
#If we want to know which types variables contain, so we use for it the resercve word that is 'type'p'
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
"""
string adds only with it like terms
integers can adds its like terms as well a float
floar can adds its like term as well as integers
"""
a = "hello world" #String
b = 456 #Integer
c = 56.4 #float
d = "there"
#print(a+b) and (a+c) will show error
print(b+c);(c+b) #will not show error
print(a+d)# will also not show error. The reason is that, string can add with more string

512.4

512.4

<>  String can change into integers and float 

<> Integer can change into string and float

<> Float can change into string and integer

######Type_casting

In [ ]:
# String can change into integers and float 
a = "57"
print(type(a))
print(type(int(a)))
print(type(float(a)))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
# Integer can change into string and float
a=40
print(type(a))
print(type(str(a)))
print(type(float(a)))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
#Float can change into string and integer
a=609.5
print(type(a))
print(type(str(a)))
print(type(int(a)))

<class 'float'>
<class 'str'>
<class 'int'>

####String_Slicing_And_Other_Functions

In [ ]:
#I can measure the lenth of string, i.e, how many characters in the string by using 'len' reserved word
mynum = '123456789'                                     
print(len(mynum))
#I can also print a part of string. 
  #Like, I want to print the string character from1to7
print(mynum[0:8])
"""I am using '0' in the code to print '1' in the string. This is because python does not count from '1', it counts from'0'.So,there is also
   one more question pops up in my mind, i.e, if python counts from '0', so the total characters should be print '9' according to code!!??? 
   No, total '9' characters will not print because, in code, I write '0', python start printing from '1' in string, but, I write '8' python should 
   stop printing at '9' according to you. But python stopped at'8'. This is because, when I write '1' in code, python include '0'. But when I 
   write '8' in code, python exclude '8' """
# If I want to print 8th character in the string, so I write,
print(mynum[7])#Note!!!!! PYTHON also count blank space in string
#print(mynum[59]) it will show error. But if I write
print(mynum[0:265]) #it will not so error

9
12345678
8
123456789

In [ ]:
 mynum = '123456789'
# If I want to print every 2nd or 3rd or as I wish, characters in the string, so I can make it by using,
print(mynum[0:9:2])# Every 2nd character printed
print(mynum[0:9:3])# Every 3rd character printed
""" According to the below code, firstly python counts how many characters in the string, then, python reads the first number in the [] bracket,
    if I write [0] so python start to print from 1st character. Then, python read the second number in the [] square bracket, i.e,[7]
    so python stop printing at 8th character. If I also write third number in [] bracket, i.e, [2], python get, it has to print leaving 
    every second character till 8th character in the string """  
print(mynum[0:7:2])             
print(mynum[::])  
""" According to the above code, at the place of first number in [] bracket, python itself assume [0] i.e, from 1st character. At the place of second 
number in [] bracket, python it self assume the number of last character position i.e, [0:8]. Then python consider third position in [] bracket (if write)
 i.e, how many character will be skipped. Python itself assume [0] at the third place in[] bracket """
 print()

13579
147
1357
123456789

' According to the above code, at the place of first number in [] bracket, python itself assume [0] i.e, from 1st character. At the place of second \nnumber in [] bracket, python it self assume the number of last character position i.e, [0:8]. Then python consider third position in [] bracket (if write)\ni.e, how many character will be skipped. Python itself assume [0] at the third place in[] bracket '

######Here_some_more_way_to_string_slicing

In [ ]:
# Study_all_of_them_carefully!!
mynum = '123456789'
print(len(mynum))
print(mynum[2])
print(mynum[2:7])
print(mynum[2:97])
print(mynum[1:7:1])
print(mynum[:8])
print(mynum[:])
print(mynum[:8:1])
print(mynum[2::2])
print(mynum[2:8:])
print(mynum[::2])
print(mynum[::])
print(mynum[1::])
print(mynum[-4])
print(mynum[::-1])# that 3rd num. make string in reverce
print(mynum[-1:-8:-1])
print(mynum[2:8:-1])
print(mynum[-2])

9
3
34567
3456789
234567
12345678
123456789
12345678
3579
345678
13579
123456789
23456789
6
987654321
9876543

######Here_are_some_more_functions_of_string_slicing

In [ ]:
print(myts)

In [ ]:
mynum = "hello my PYTHON journey"
""" In the below line, We ask to python that, Is all string characters are alphabatic and/or numeric. As answer shows 'false', that mean 
   the all string is not alphatic and/or numeric. This is because, python also counts white space and white space is not a string."""
print(mynum.isalnum())
print(bool(mynum))
print(mynum.isalpha())     
print(mynum.endswith("journey"))# We ask to python" Is the string end with the character(xxxxxxx)
print(mynum.count("o"))#we ask to python,"how many same character present in the string"
print(mynum.count("py"))
print(mynum.capitalize())#python itself make first letter capital of the string
print(mynum.find("python"))#using .find() method, we can find out how many times a certain string appear in a parent string
print (mynum.lower())#this function make all alphabats in small letter
print(mynum.upper())#this function make all alphabats in capital letter
print(mynum.replace("hello", "how is"))
#VISIT on https://www.w3schools.com/python/python_ref_string.asp

False
True
False
True
2
0
Hello my python journey
-1
hello my python journey
HELLO MY PYTHON JOURNEY
how is my PYTHON journey

####Python_Lists_And_List_Functions

In [ ]:
#we can make a list in python
list = ["lL ghee", "ghiyaa", "toree", "tijaab", "pauvva"]
print(list[::-1])
print(list[0])
print(list[0:])
print(list[0::2])
print(list[1:])
numbers = [2,34,54,74,34,543,32,43,542,43,46] 
print(numbers[0])
print(numbers[3])
print(numbers.sort())#these functions change original variable
print(numbers)
print(numbers.reverse())#these functions change original variable
print(numbers)
print(max(numbers))#Which is the largest number in the variable
print(min(numbers))#which is the smallest number in the variables

['pauvva', 'tijaab', 'toree', 'ghiyaa', 'lL ghee']
lL ghee
['lL ghee', 'ghiyaa', 'toree', 'tijaab', 'pauvva']
['lL ghee', 'toree', 'pauvva']
['ghiyaa', 'toree', 'tijaab', 'pauvva']
2
74
None
[2, 32, 34, 34, 43, 43, 46, 54, 74, 542, 543]
None
[543, 542, 74, 54, 46, 43, 43, 34, 34, 32, 2]
543
2

In [1]:
print("aashish mittalO")

aashish mittal